.container{
    padding: 5px;
}

.heading{
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.btn{
    width: 100%;
    margin: 5px;
}

ul{
    list-style: none;
}

.search-box{
    width: 100%;
    margin-top: 7px;
    height: 80%;
}